<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUGIXjVoRUrlOgz6MFSMxI6-f2lV1j5Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>764187196487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahajmandalia.ScholarixApp</string>
	<key>PROJECT_ID</key>
	<string>scholarix-85aca</string>
	<key>STORAGE_BUCKET</key>
	<string>scholarix-85aca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764187196487:ios:11f077148ac948f2590562</string>
</dict>
</plist>